@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["App_Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["App_Title"]</h1>
    <p><a href="/">@Localizer["Nav_Dashboard"]</a></p>
</div>
